/* Font declaration */
@font-face {
    font-family: FuturaPTBook;
    src: url(../fonts/FuturaPTBook.otf);
}

@font-face {
    font-family: Harbour;
    src: url(../fonts/Harbour\ Regular.ttf);
}

@font-face {
    font-family: FuturaPTDemi;
    src: url(../fonts/FuturaPTDemi.otf);
}

@font-face {
    font-family: times;
    src: url(../fonts/times.ttf);
}

/* Header and menu */
#logo
{
    width: 14.5vw;
    height: 5.5vh;
}

#headerMain
{
    /* -webkit-box-shadow: 0px -1px 23px -5px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px -1px 23px -5px rgba(0,0,0,0.42);
    box-shadow: 0px -1px 23px -5px rgba(0,0,0,0.42); */
}

#navbarNav
{
    float:right
}

#header
{
    width: 100%;
    height: 15vh;
    padding-top: 4vh;
    /* padding-right: 30px; */
    padding-bottom: 3vh;
}

#menu
{
    /* background: black */
    margin-top: 10px;
}

#menuActive
{
    text-decoration: underline
}

.list-inline
{
    float:right;
    color: black
}

.list-inline-item
{ 
    padding-right: 55px
}

.list-inline-item:last-child
{ 
    padding-right: 0px
}

.list-inline-item > a
{
    color: grey;
    text-transform: uppercase;
    font-family: FuturaPTBook;
    font-size: 17px;
}

/* information */
#subTitle
{
    font-family: times;
    font-size: 5vh;
    line-height: 6.2vh;
}

#workingField
{
    font-family: FuturaPTDemi;
    font-size: 19px;
    font-weight: bold;
    color: grey;
}

#workingFieldList
{
    list-style: none;
    text-transform: capitalize;
    padding-left: 0;
    color: grey;
    font-family: FuturaPTBook;
    font-size: 2vh;
}

#information
{
    font-size: 15px;
    line-height: 4px;
    color: #91a1a4;
    font-family: "Times New Roman";
    text-decoration: underline;
}

#content
{
    padding-bottom: 14vh;
}

#informationText
{
    font-family: FuturaPTBook;
    font-size: 15px;
    color: grey;
    /* color: black; */
}

/* title */
#title1
{
    font-family: Harbour;
    font-size: 12vw;
    color:black;
    text-transform: uppercase;
    /* line-height: 14vh; */
    margin-top: -155px;
}

#title2
{
    font-family: Harbour;
    font-size: 12vw;
    color:black;
    text-transform: uppercase;
    line-height: 24vh;
    margin-top: -60px;
    word-wrap: break-word;
}

/* footer and text*/
.footerText
{
    font-family: FuturaPTBook;
    font-size: 15px;
    color: #a9a9a9;
    line-height: 4px;
}
#footer
{
    margin-bottom: 40px;
}

/* project */
#project
{
    width: 100%;
    height: auto;
    background-color: #f6f6d2;
    margin-bottom: 50px;
    padding-top: 88px;
}

#portfolio
{
    font-size: 44px;
    font-family: times;
}

/* album design */
#ad
{   
    padding-bottom: 88px;
}

#albumDesign
{
    font-family: times;
    font-size: 44px;
}

#describe
{
    font-family: FuturaPTBook;
    font-size: 18px;
    color: grey;
}

/* Corner Howard Park */
#content2
{
    margin-bottom: 88px;
}

#title3
{
    font-family: times;
    font-size: 44px;
    margin-top: 88px;
}

#title4
{
    font-family: times;
    font-size: 44px;
    line-height: 15px;
    margin-bottom: 38px;
}

#subTitle1
{
    font-family: FuturaPTBook;
    font-size: 18px;
    color: grey;
}

#subTitle2
{   
    font-family: FuturaPTBook;
    font-size: 18px;
    color:grey;
}

/* visit link */
#visitLink
{   
    margin-top: 12px;
    margin-bottom: 88px;
    text-align: center
}
#visitLink > a
{
    text-decoration: none;
    color: black;
    font-family: times;
    font-size: 18px
}

