/* Font declaration */
@font-face {
    font-family: FuturaPTBook;
    src: url(../fonts/FuturaPTBook.otf);
}

@font-face {
    font-family: Harbour;
    src: url(../fonts/Harbour\ Regular.ttf);
}

@font-face {
    font-family: FuturaPTDemi;
    src: url(../fonts/FuturaPTDemi.otf);
}

@font-face {
    font-family: times;
    src: url(../fonts/times.ttf);
}

/* Header and menu */
#logo
{
    width: 14.5vw;
    height: 5.5vh;
}

#headerMain
{
    -webkit-box-shadow: 0px -1px 23px -5px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px -1px 23px -5px rgba(0,0,0,0.42);
    box-shadow: 0px -1px 23px -5px rgba(0,0,0,0.42);
    margin-bottom: 10vh;
}

#navbarNav
{
    float:right
}

#header
{
    width: 100%;
    height: 15vh;
    padding-top: 4vh;
    /* padding-right: 30px; */
    padding-bottom: 3vh;
}

#menu
{
    /* background: black */
    margin-top: 10px;
}

.list-inline
{
    float:right;
    color: black
}

.list-inline-item
{ 
    padding-right: 55px
}

.list-inline-item:last-child
{ 
    padding-right: 0px
}

.list-inline-item > a
{
    color: grey;
    text-transform: uppercase;
    font-family: FuturaPTBook;
    font-size: 17px;
}

/* Sub title */
#content
{
    padding-bottom: 14vh;
}

#subTitle
{
    font-family: times;
    font-size: 5vh;
    line-height: 6.2vh;
}

#workingField
{
    font-family: FuturaPTDemi;
    font-size: 19px;
    font-weight: bold;
    color: grey;
}

#workingFieldList
{
    list-style: none;
    text-transform: capitalize;
    padding-left: 0;
    color: grey;
    font-family: FuturaPTBook;
    font-size: 2vh;
}

/* title */
#titleWrapper
{
    height: 60vh;
}

#title
{
    font-family: Harbour;
    font-size: 12vw;
    color: #006633;
    text-transform: uppercase;
    line-height: 14vh;
}

#title-right
{
    float:right;
    font-family: Harbour;
    font-size: 12vw;
    color: #006633;
    text-transform: uppercase;
}

/* footer and text*/
.footerText
{
    font-family: FuturaPTBook;
    font-size: 14px;
    color: #a9a9a9;
    line-height: 4px;
    /* text-align: center */
}
#footer
{
    margin-top: 77px;
    margin-bottom: 40px;
}

#menuActive
{
    text-decoration: underline
}

/* text */
#textHeader
{
    text-align: center;
    font-family: times;
    text-transform: initial;
    font-size: 34px;
    font-weight: bold;
    margin-top: 30px;
    line-height: 28px;
}

#textSubHeader
{
    text-align: center;
    font-family: FuturaPTBook;
    text-transform: capitalize;
    font-size: 16px;
    color: grey;
    line-height: 10px;
}

/* single project */
#singleProject
{
    width: 100%;
    height: auto;
    padding-top: 4vh;
    /* padding-right: 30px; */
    padding-bottom: 3vh;
}